<div class="main-content">
  <app-financing-program
    *ngFor="let program of eligiblePrograms"
    [program]="program"
  ></app-financing-program>
</div>

<!-- <div *ngFor="let program of availablePrograms">
  <div class="card text-center">
    <div class="card-header text-left">Programul {{ program.id }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ program.name }}</h5>
      <p>Criterii:</p>
      <ul>
        <li *ngFor="let criteria of program.criteria">
          {{ criteria.id }} - {{ criteria.name }} : {{ criteria.amount }}
        </li>
      </ul>
      <a href="#" class="btn btn-primary">Mai multe detalii</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
</div> -->
