<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ADAUGA UTILAJ</h4>
  </div>
  <div class="modal-body">
    <form #registerForm="ngForm" (ngSubmit)="onAddParcel()">
      <div class="row col-md-12">
        <div class="form-group">
          <label for="select-machinery">Tip utilaj</label>
          <select
            class="form-control"
            name="select-machinery"
            id="select-machinery"
            aria-label="Selectati utilajul"
            placeholder="Selectati Utilajul"
            [(ngModel)]="machinery.machinery"
          >
            <option *ngFor="let machinery of availableMachinery">
              {{ machinery }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Marca</label>
          <input type="text" class="form-control" name="machinery-manufacturer" />
        </div>
        <div class="form-group col-md-6">
          <label>Model</label>
          <input type="text" class="form-control" name="pmachinery-model" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label>Nr.Inmatriculare</label>
          <input type="text" class="form-control" name="machinery-number" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Data fabricatie</label>
          <input type="date" class="form-control" name="machinery-fabrication-date" />
        </div>
        <div class="form-group col-md-6">
          <label>Data achizitie</label>
          <input type="date" class="form-control" name="machinery-achizition-date" />
        </div>
      </div>

      <div class="form-group">
        <button
          class="btn btn-success btn-fill"
          type="submit"
          style="margin-right: 5px"
        >
          Adauga
        </button>
        <button class="btn btn-danger btn-fill" type="button">Renunta</button>
      </div>
    </form>
  </div>
</ng-template>

<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Utilajele tale</h4>
      </div>
      <div class="content">
        <button
          type="button"
          class="btn btn-primary btn-fill pull-left"
          (click)="addMachineryModal(template)"
        >
          Adauga utilaj
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
