<div class="container">
  <div class="card text-center pad-card">
    <div class="card-header text-left">Programul {{ program.id }}</div>
    <div class="card-body">
      <h3 class="measure-title text-left">{{ program.name }}</h3>
      <hr />
      <div class="criteria-body">
        <p class="criteria-title text-left">Criterii:</p>
        <ul class="criteria-items text-left">
          <li *ngFor="let criteria of program.criteria">
            {{ criteria.id }} - {{ criteria.name }} : {{ criteria.amount }}
          </li>
        </ul>
      </div>
      <div class="text-right expand-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-down-circle"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
          />
        </svg>
        Mai multe detalii
      </div>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
</div>
