<button
  type="button"
  class="btn btn-primary"
  (click)="addParcelModal(template)"
>
  Adauga parcela
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title text-center">ADAUGA PARCELA</h4>
    <form #registerForm="ngForm" (ngSubmit)="onAddParcel()">
      <div class="form-group row">
        <label for="parcelName" class="col-sm-3 col-form-label"
          >Denumire parcela:</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            name="parcel-name"
            class="form-control form-control-lg"
            id="parcel-name"
            [(ngModel)]="registerParcel.name"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="parcelArea" class="col-sm-3 col-form-label"
          >Arie parcela (ha):</label
        >
        <div class="col-sm-9">
          <input
            type="number"
            name="parcel-area"
            class="form-control form-control-lg"
            id="parcel-area"
            [(ngModel)]="registerParcel.surface"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="select-culture" class="col-sm-3 col-form-label"
          >Cultura:</label
        >
        <select
          class="col-sm-9"
          id="select-culture"
          name="select-culture"
          aria-label="Selectati cultura"
          placeholder="Selectati Cultura"
          [(ngModel)]="+registerParcel.cultureId"
        >
          <option
            *ngFor="let pickedCulture of loadedCultures"
            [value]="pickedCulture.id"
          >
            {{ pickedCulture.name }}
          </option>
        </select>
      </div>

      <div class="form-group row">
        <label for="select-county" class="col-sm-3 col-form-label"
          >Judet:</label
        >
        <select
          class="col-sm-9"
          name="select-county"
          id="select-county"
          aria-label="Selectati judetul"
          placeholder="Selectati Judetul"
          [(ngModel)]="+registerParcel.countyId"
        >
          <option
            *ngFor="let pickedCounty of loadedCounties"
            [value]="pickedCounty.id"
          >
            {{ pickedCounty.name }}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Salveaza Parcela</button>
      <button type="button" class="btn btn-danger" (click)="closeParcelModal()">
        Inchide
      </button>
    </form>
  </div>
</ng-template>
