<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ADAUGA PARCELA</h4>
  </div>
  <div class="modal-body">
    <form #registerForm="ngForm" (ngSubmit)="onAddParcel()">
      <div class="row col-md-12">
        <div class="form-group">
          <label>Denumire parcela</label>
          <input
            type="text"
            class="form-control"
            name="parcel-name"
            placeholder="Denumire parcela"
            id="parcel-name"
            [(ngModel)]="registerParcel.name"
          />
        </div>
      </div>

      <div class="row col-md-12">
        <div class="form-group">
          <label>Arie parcela (ha)</label>
          <input
            type="number"
            class="form-control"
            name="parcel-area"
            placeholder="Suprafata in hectare"
            id="parcel-area"
            [(ngModel)]="registerParcel.surface"
          />
        </div>
      </div>
      <div class="row col-md-12">
        <div class="form-group">
          <label for="select-county">Cultura</label>
          <select
            class="form-control"
            name="select-culture"
            id="select-culture"
            aria-label="Selectati cultura"
            placeholder="Selectati Cultura"
            [(ngModel)]="+registerParcel.cultureId"
          >
            <option
              *ngFor="let pickedCulture of loadedCultures"
              [value]="pickedCulture.id"
            >
              {{ pickedCulture.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="form-group">
          <label for="select-county">Judet:</label>
          <select
            class="form-control"
            name="select-county"
            id="select-county"
            [(ngModel)]="+registerParcel.countyId"
          >
            <option
              *ngFor="let pickedCounty of loadedCounties"
              [value]="pickedCounty.id"
            >
              {{ pickedCounty.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-success btn-fill"
          type="submit"
          style="margin-right: 5px"
        >
          Adauga
        </button>
        <button
          class="btn btn-danger btn-fill"
          (click)="closeParcelModal()"
          type="button"
        >
          Renunta
        </button>
      </div>
    </form>
  </div>
</ng-template>

<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Parcelele tale</h4>
      </div>
      <div class="content">
        <button
          type="button"
          class="btn btn-primary btn-fill pull-left"
          (click)="addParcelModal(template)"
        >
          Adauga parcela
        </button>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="card">
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">Nume parcela</th>
              <th scope="col">Dimensiune (ha)</th>
              <th scope="col">Cultura</th>
              <th scope="col">Judet</th>
              <th scope="col">Data adaugarii</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parcel of parcels; let i = index">
              <td>{{ parcel.name }}</td>
              <td>{{ parcel.surface }}</td>
              <td>{{ parcel.cultureName }}</td>
              <td>{{ parcel.countyName }}</td>
              <td>{{ parcel.dateAdded }}</td>
              <td>
                <div class="form-group pull-right">
                  <button
                    class="btn btn-primary btn-fill"
                    type="button"
                    style="margin-right: 5px"
                    (click)="onViewParcel()"
                  >
                    Vezi parcela
                  </button>
                  <button
                    class="btn btn-danger btn-fill"
                    (click)="onDeleteParcel(parcel)"
                    type="button"
                  >
                    Sterge
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
