<div class="wrapper" style="background-color: #6dc030">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section"></h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
          <div class="wrap">
            <div class="img">
              <img src="/assets/img/jurnal_fermier.jpg" width="400" />
            </div>
            <div class="login-wrap p-4 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Logheaza-te</h3>
                </div>
                <div class="w-100">
                  <p class="social-media d-flex justify-content-end">
                    <a
                      href="#"
                      class="social-icon d-flex align-items-center justify-content-center"
                      ><span class="fa fa-facebook"></span
                    ></a>
                    <a
                      href="#"
                      class="social-icon d-flex align-items-center justify-content-center"
                      ><span class="fa fa-twitter"></span
                    ></a>
                  </p>
                </div>
              </div>
              <form
                #loginForm="ngForm"
                (ngSubmit)="login()"
                autocomplete="off"
                class="signin-form"
              >
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    [(ngModel)]="loginModel.username"
                    required
                  />
                  <label class="form-control-placeholder" for="username"
                    >Nume utilizator</label
                  >
                </div>
                <div class="form-group">
                  <input
                    id="password-field"
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="loginModel.password"
                    required
                  />
                  <label class="form-control-placeholder" for="password"
                    >Parola</label
                  >
                  <span
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary rounded submit px-3"
                  >
                    Login
                  </button>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-50 text-left">
                    <label class="checkbox-wrap checkbox-primary mb-0"
                      >Tine-ma minte
                      <input type="checkbox" checked />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="w-50 text-md-right">
                    <a href="#">Ai uitat parola?</a>
                  </div>
                </div>
              </form>
              <p class="text-center">
                Nu ai cont?
                <a data-toggle="tab" href="#signup">Inregistreaza-te!</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
